<ion-view view-title="More Music">
    <ion-content>
        <ion-audio-track ng-repeat="track in tracks" track="track">
            <div class="card">
                <div class="item">
                    <h2>{{track.title}}</h2>
                    <p>{{track.artist}}</p>
                    <ion-audio-controls>
                        <button class="button button-small button-assertive icon-left" ion-audio-play text-play="Play" text-pause="Pause"></button>
                        <ion-spinner></ion-spinner>
                    </ion-audio-controls>
                </div>
            </div>
        </ion-audio-track>
        <div class="card">
            
            <div class="item item-divider">
            <button class="button button-small button-assertive icon-left" onclick="PlayMusic()">Listen Live</button>
            <button class="button button-small button-assertive icon-left" onclick="pausemusic()">Pause</button>
      <script type="text/javascript">
        var audio = new Audio('http://kantipur-stream.softnep.com:7248/;stream.nsv&type=mp3');
          function PlayMusic(){
          audio.play();
            }
            function pausemusic(){
              audio.pause();
            }
    </script>    
            </div>
        </div>
    </ion-content>
</ion-view>
